
@import '_variables.scss';

@import '_mixins.scss';

//tablet
@media only screen and (max-width:1260px) {
   .slider {
        .slide {
            background-size: cover;
        }
    }
    .primary-cards{
        .card:last-child {
            grid-column: 1/-1;
        }
    }

    .secondary-cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .card>img {
            height: 250px;
        }

        .card:first-child {
            grid-column: 1/-1;

            >img {
                height: 150px;
            }
        }
    }


}

//smartphones
@media only screen and (min-width:881px){
    
    header {
        position: fixed;
        height: 100%;
        width:20vw;
        min-width:210px;
        .sidebar-container .sidebar-buttons button{
            font-size:1.2em;
            padding:15px 20px;
        }
    }
}

@media only screen and (max-width:880px) and (min-width : 589px){
    header .sidebar-container .sidebar-menu ul{
        justify-content:center;
    }
 } 

@media only screen and (max-width:880px) {
    header {
        overflow-x: hidden;
        .sidebar-container{
            gap:0;
        .sidebar-buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding:0;
            margin:0;
            button{
                margin-bottom:10px;
            }
        }

        .sidebar-menu {
            overflow: scroll;
            margin-right:30px;
         ul {
                display: flex;
                list-style: none;
                padding: 0 10px;
                gap:0;
                

                li {
                    margin: 0 15px;
                    text-transform: uppercase;
                    @include fontMix($font-weigth: 500, $font-color: $text-color-secondary, $font-size: 1em);
                    color: $text-color-secondary;
                    flex-shrink: 0;

                    a {
                        @include elementsPosition();
                        color: $text-color-secondary ;
                        text-align: center;
                        p{
                            font-size:1.1em;
                        }
                    img {
                        margin-bottom: 5px;
                    }
                }

                li:last-child {
                    padding-right: 40px;
                }

            }
        }
    }
 }

    .slider {
        .slide {

            .slide-text {
                padding: 2em;
            }
        }
    }
}
}

@media screen and (max-width:768px) {
    .slider {
        .slide {
            .slide-text {
             h1 {
                    font-size: 3em;
                }

                .description {
                    max-width: 250px;
                    font-size: 1.5em;
                }
            }

        }
    }
}

@media screen and (max-width:695px) {
    .banner {
        grid-row-start: 2;
    }
    .primary-cards,
    .secondary-cards {
        margin: 1em;
    }
}

@media screen and (max-width:552px) {
    .slider {
        .slide {
            .slide-text {
                 padding: 2em 1.5em 1.5em 1.5em;
                h1 {
                    font-size: 1.8em;
                }

                .description {
                    max-width: 160px;
                    font-size: 1em;
                }
            }

        }
    }
}

@media screen and (max-width:465px) {
    .container{
        grid-template-rows: 280px repeat(auto-fill, minmax(19rem, 1fr));
    }
     .sidebar-buttons{
        flex-direction:column;
        align-items: center;
     }
    .slider {
        .slide {
            background-size: contain;
            background-image: url('../assets/img/slider_base.jpg');

            .slide-text {
                padding: 2em 1.5em 0.7em 0.7em;
            }

        }
    }
}