
$bg-color: #fbfbfb;
$primary-color: #264cac;
$secondary-color: #506ebd;
$secondary-color-active: #328ff1;
$text-color-primary: #1e1e1e;
$text-color-secondary: rgba(255, 255, 255, 0.81);
$font-primary: 'Roboto';